@{
    ViewData["Title"] = "Wallet";
    ViewData.AddActivePage(ManageNavPages.Wallet);
}

<h5>Wallet</h5>
<h6>Failed to generate a wallet for you</h6>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}